$c-black: #333333;
$c-white: #FFFFFF;
$c-dark-charcoal: #151515;
$c-charcoal: #333333;
$c-light-charcoal: #444444;
$c-midgrey: #797979;
$c-red: #fd2e55;
$c-lead: #13233b;
$c-lead-faint: #1b2e4a;
$c-lead-dark: #0e1b2e;
$c-standard: #AAA;
$c-faint: #EEE;

$font-size-standard: 14px;
$font-size-feature: 45px;
$t-nav: 15px;
$t-mobile-nav: 12px;
$t-link: 18px;

$standard-padding: 40px 0px;
$large-padding: 80px 0px;

$mid-height: 500px;
$short-height: 400px;
$header-height: 110px;