extends /layouts/master
block vars
    - classname = ''
    - metatitle = 'Driving Area Elle Driving School | Driving instructor and lessons in Sleaford and Grantham'
    - metadescription="See available areas for driving tuition (Sleaford, Grantham and all surrounding areas.)"
block main_content
    .mid-height-header
        #page-header.mid-height(style='background-image: url(/assets/images/elle-driving-school-area-map.jpg);')

    .content
        .container
            .row
                .col-xs-120.text-center
                    h1 Local Area
                .col-xs-120.col-sm-90.col-sm-offset-15.text-center
                    p.lead Elle Driving School is based in Greylees, Lincolnshire and offers lessons in Sleaford, Grantham and surrounding areas.
                    p Tests are conducted at Grantham Test Centre.  As you progress we will introduce you to the Grantham area and known test locations.
                    p If you are interested in learning to drive with Elle Driving School, please get in touch via the contact page to discuss whether or not you are in the area covered.
