extends /layouts/master
block vars
    - classname = ''
    - metatitle = 'Contact Elle Driving School | Driving instructor and lessons in Sleaford and Grantham'
    - metadescription="Get in touch for driving tuition in Sleaford, Grantham and surrounding areas."
block main_content
    .mid-height-header
        #page-header.mid-height(style='background-image: url(/assets/images/elle-driving-school-contact.jpg);')

    .content
        .container
            .row
                .col-xs-120.text-center
                    h1 Get In Touch
                .col-xs-120.col-sm-90.col-sm-offset-15.col-md-40.col-md-offset-40
                    p.lead.text-center Contact Martine at Elle Driving School
                    p If you have any questions or are ready to book your first lesson please call, email or use the contact form below.
                .col-xs-120.col-sm-90.col-sm-offset-15.col-md-60.col-md-offset-30
                    hr/
                    h3 #[a(href='tel:+441529488880') 01529 488 880] |
                        a(href='/') broadrickmartine@gmail.com
                    hr/
                .col-xs-120.col-sm-90.col-sm-offset-15.col-md-40.col-md-offset-40
                    form(action='https://formspree.io/broadrickmartine@gmail.com', method='POST')
                        .form-group
                            label Name
                            input.form-control#name(type="text", name="name", placeholder="Name", required)
                            input#next(type="hidden", name='_next', value='//www.elledrivingschoolsleaford.co.uk/thanks')
                            input#emailsubject(type="hidden", name='_subject', value='Contact Enquiry Elle Driving School')
                            input#cc(type="hidden", name='_cc', value='elledriving@mikeparkin.com')
                            input#realname(type="text", name='_gotcha', style='display:none')
                        .form-group.text-left
                            label Email Address
                            input.form-control#email(type="email", name="email", placeholder="Email", required)
                        .form-group.text-left
                            label Phone Number
                            input.form-control#phone(type="tel", name="Phone Number", placeholder="Phone Number", required)
                        .form-group.text-left
                            label Subject
                            input.form-control#subject(type="subject", name="Subject", placeholder="Subject")
                        .form-group.text-left
                            label Message
                            textarea.form-control#message(type="message", rows="10", name="Message", placeholder="Message")
                        .form-group.text-center
                            button.btn.btn-default(type="submit") Submit


