extends /layouts/master
block vars
    - classname = ''
block main_content
    .mid-height-header
        #page-header.mid-height(style='background-image: url(/assets/images/stock-photo-22288692-driving.jpg);')
            .content
        .container
            .row
                .col-xs-120.col-sm-90.col-sm-offset-15
                    .text-block-intro
                        h1 Welcome to Elle Driving School
                        p.lead My name is Martine and I am a fully qualified ADI with 25 years experience
                        p I provide driving instruction in the Sleaford, Grantham and surrounding areas. Feel free to explore my website and to discover what others think about Elle Driving School
                            .row
                .col-xs-120.col-sm-40
                    img.img-responsive(src='/assets/images/stock-photo-22288692-driving.jpg')
                    h2 Pentalum
                    p From, Hong Kong to Honolulu, Taipei to Tel Aviv,
                        a(href='') Sydney to Singapore,
                        | the monumental walk-in sculptures of Architects of Air have enchanted audiences around the world. Since 1992, over 3 million visitors in 41 countries across 5 continents have immersed themselves in the spectacular, luminous world of Architects of Air. A luminarium is typically booked by an organisation such as a cultural centre or a festival for an exhibition period ranging between 3 and 30 days.
                    a(href='') View More
                .col-xs-120.col-sm-40
                    img.img-responsive(src='/assets/images/stock-photo-22288692-driving.jpg')
                    h2 Pentalum
                    p From, Hong Kong to Honolulu, Taipei to Tel Aviv, Sydney to Singapore, the monumental walk-in sculptures of Architects of Air have enchanted audiences around the world. Since 1992, over 3 million visitors in 41 countries across 5 continents have immersed themselves in the spectacular, luminous world of Architects of Air. A luminarium is typically booked by an organisation such as a cultural centre or a festival for an exhibition period ranging between 3 and 30 days.
                    a(href='') View More
                .col-xs-120.col-sm-40
                    img.img-responsive(src='/assets/images/stock-photo-22288692-driving.jpg')
                    h2 Pentalum
                    p From, Hong Kong to Honolulu, Taipei to Tel Aviv, Sydney to Singapore, the monumental walk-in sculptures of Architects of Air have enchanted audiences around the world. Since 1992, over 3 million visitors in 41 countries across 5 continents have immersed themselves in the spectacular, luminous world of Architects of Air. A luminarium is typically booked by an organisation such as a cultural centre or a festival for an exhibition period ranging between 3 and 30 days.
                    a(href='') View More
            .row
                .col-xs-120
                    hr/
            .row
                .col-xs-120.col-sm-60
                    img.img-responsive(src='/assets/images/stock-photo-22288692-driving.jpg')
                    h2 Pentalum
                    p From, Hong Kong to Honolulu, Taipei to Tel Aviv, Sydney to Singapore, the monumental walk-in sculptures of Architects of Air have enchanted audiences around the world. Since 1992, over 3 million visitors in 41 countries across 5 continents have immersed themselves in the spectacular, luminous world of Architects of Air. A luminarium is typically booked by an organisation such as a cultural centre or a festival for an exhibition period ranging between 3 and 30 days.
                .col-xs-120.col-sm-60
                    img.img-responsive(src='/assets/images/stock-photo-22288692-driving.jpg')
                    h2 Pentalum
                    p From, Hong Kong to Honolulu, Taipei to Tel Aviv, Sydney to Singapore, the monumental walk-in sculptures of Architects of Air have enchanted audiences around the world. Since 1992, over 3 million visitors in 41 countries across 5 continents have immersed themselves in the spectacular, luminous world of Architects of Air. A luminarium is typically booked by an organisation such as a cultural centre or a festival for an exhibition period ranging between 3 and 30 days.
            .row
                .col-xs-120
                    hr/
            .row
                .col-xs-120
                    h2 Pentalum Gallery
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/amococo-richard-rosalion.jpg);')
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/pentalum.jpg);')
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/amococo-richard-rosalion.jpg);')
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/pentalum.jpg);')
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/amococo-richard-rosalion.jpg);')
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/pentalum.jpg);')
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/amococo-richard-rosalion.jpg);')
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/pentalum.jpg);')
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/amococo-richard-rosalion.jpg);')
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/pentalum.jpg);')
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/amococo-richard-rosalion.jpg);')
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/pentalum.jpg);')
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/amococo-richard-rosalion.jpg);')
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/pentalum.jpg);')
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/amococo-richard-rosalion.jpg);')
                .col-xs-30.col-md-20.col-lg-15
                    .image-wrapper
                        a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                            .image(style='background-image: url(/assets/images/pentalum.jpg);')
            .row
                .col-xs-120
                    hr/
            .row
                .col-xs-120.col-sm-100.col-md-80
                    h2 Example Header
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    img.img-responsive(src='/assets/images/stock-photo-22288692-driving.jpg')
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .row
                .col-xs-120
                    hr/
            .row
                .col-xs-120
                    h2 Pentalum Gallery
                .video-gallery
                    .col-xs-60.col-sm-40.col-md-30
                        .image-wrapper
                            a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                                svg.icon(style='width:45px;height:45px;')
                                    use.svg-fill.svg-transition(xlink:href='#svg-play-icon')
                                .image(style='background-image: url(/assets/images/stock-photo-22288692-driving.jpg);')
                    .col-xs-60.col-sm-40.col-md-30
                        .image-wrapper
                            a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                                svg.icon(style='width:45px;height:45px;')
                                    use.svg-fill.svg-transition(xlink:href='#svg-play-icon')
                                .image(style='background-image: url(/assets/images/stock-photo-22288692-driving.jpg);')
                    .col-xs-60.col-sm-40.col-md-30
                        .image-wrapper
                            a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                                svg.icon(style='width:45px;height:45px;')
                                    use.svg-fill.svg-transition(xlink:href='#svg-play-icon')
                                .image(style='background-image: url(/assets/images/stock-photo-22288692-driving.jpg);')
                    .col-xs-60.col-sm-40.col-md-30
                        .image-wrapper
                            a(class="fancybox", rel="group", href="/assets/images/stock-photo-22288692-driving.jpg")
                                svg.icon(style='width:45px;height:45px;')
                                    use.svg-fill.svg-transition(xlink:href='#svg-play-icon')
                                .image(style='background-image: url(/assets/images/stock-photo-22288692-driving.jpg);')
            .row
                .col-xs-120
                    hr/