extends /layouts/master
block vars
    - classname = ''
    - metatitle = 'Lesson Prices Elle Driving School | Driving instructor and lessons in Sleaford and surrounding areas'
    - metadescription="Lesson options and pricing for driving tuition in Sleaford and surrounding areas"
block main_content
    .mid-height-header
        #page-header.mid-height(class='background-prices')

    .content
        .container
            .row
                .col-xs-120.text-center
                    h1 Driving Lesson Prices
                .col-xs-120.col-sm-80.col-sm-offset-20
                    .panel
                        h2 Mon-Fri
                        p.lead 1 hour lessons at £35
                        p.lead 2 hour lessons at £60
            .row
                .col-xs-120.col-sm-80.col-sm-offset-20
                    .panel
                        h2 Intensive
                        p.lead Are you in a hurry and need to get your license quickly?
                        p Get in touch via our contact page to find out about the various intensive packages offered.
