extends /layouts/master
block vars
    - classname = ''
    - metatitle = 'Pupil Recommendations Elle Driving School | Driving instructor and lessons in Sleaford and surrounding areas'
    - metadescription="Students that recommend Elle Driving School tuition in Sleaford and surrounding areas"
block main_content
    .mid-height-header
        #page-header.mid-height(class='background-recommendations')
    .content
        .container
            .row
                .col-xs-120.text-center
                    h1 Recommendations for Elle Driving School
                .col-xs-120.col-sm-90.col-sm-offset-15.col-md-60.col-md-offset-30.col-lg-50.col-lg-offset-35.text-center
                    p.lead Testimonials from my latest driving school students
                    p Find out more what my pupils think and
                        a(href='/contact') get in touch to book a lesson
                    hr/
                .recommendations
                    .col-xs-120.col-sm-40
                        .panel
                            h3 Nuala Harland - 26.10.2017
                            p "Martine is the best instructor I could have asked for she was always so patient and never made me feel bad about my driving and today I managed to pass with only 2 minors."
                    .col-xs-120.col-sm-40
                        .panel
                            h3 Tia Merritt - 13.10.2017
                            p "Martine is such a patient, wonderful and kind person. I don't think I could have had a better driving instructor. I recommend her to everyone!"
                    .col-xs-120.col-sm-40
                        .panel
                            h3 Fiona Howe - 11.10.2017
                            p "Martine is a wonderful wonderful driving instructor. When I met her last year I was not very confident . I thought I would never pass n doubted myself all the time and I’m going to miss this lady and our weekly lessons terribly . This lovely lady made everything possible for me and yesterday I passed my test 1ST TIME with 3 minors. I would highly recommend Martine 100% she makes learning to drive fun"
                    .col-xs-120.col-sm-40
                        .panel
                            h3 Rhys Hodder - 21.09.2017
                            p "Couldn't be happier than passing first time after 40 hours, Martine is an excellent instructor and was perfect for my personality and inspired confidence in myself throughout. Thanks for the journey!"
                    .col-xs-120.col-sm-40
                        .panel
                            h3 Ashleigh O'Neill - 15.08.2017
                            p "Couldn't recommend Martine more as an instructor! She is so friendly and makes you feel so comfortable and confident even for a nervous pupil like me making me look forward to my lessons each week!"
                    .col-xs-120.col-sm-40
                        .panel
                            h3 Joel Sloan - 09.02.2017
                            p "After a bad experience with a previous instructor could not have asked for somebody better with as much patients as Martine has. She not only teaches you how to pass your test but also how to drive safely and confidently. Highly recommend."
                    .col-xs-120.col-sm-40
                        .panel
                            h3 Mitchell Callow - 16.01.2017
                            p "Martine is an excellent driving instructor!! Passed today with only 4 minors. Would recommend her to anyone!!"
                    .col-xs-120.col-sm-40
                        .panel
                            h3 Ollie Ryman - 25.10.2016
                            p "Martine is an awesome instructor, helped me pass first time with only 1 minor! 😃 Would recommend to anyone!"
                    .col-xs-120.col-sm-40
                        .panel
                            h3 Luke Pattinson - 14.09.2016
                            p "Great driving instructor, really patient and and helpful, would definitely recommend ! Passed first time with 4 minors !"
