extends /layouts/master
block vars
    - classname = ''
    - metatitle = 'Contact Elle Driving School | Driving instructor and lessons in Sleaford and surrounding areas'
    - metadescription="Get in touch for driving tuition in Sleaford and surrounding areas."
block main_content
    .mid-height-header
        #page-header.mid-height(class='background-contact')

    .content
        .container
            .row
                .col-xs-120.text-center
                    h1 Submission Success!
                .col-xs-120.col-sm-90.col-sm-offset-15.col-md-40.col-md-offset-40
                    p.lead.text-center Thank you for your enquiry I will get back to you shortly.
