.footer
    .container
        .row
            .col-xs-120
                ul.list-inline.list-social
                    li
                        a(href='/')
                            svg
                                use.svg-fill.svg-transition(xlink:href='#svg-twitter')
                    li
                        a(href='/')
                            svg
                                use.svg-fill.svg-transition(xlink:href='#svg-facebook')
                ul.list-inline.list-text
                    li
                        a(href='#') Sitemap
                    li
                        a(href='#') Subscribe

