.content.grey-bg
    .container
        .row
            .col-xs-120.col-sm-30
                a(href='/contact')
                    img.img-responsive(src='/assets/images/stock-photo-46740646-young-woman-driving-her-car.jpg')
                    h2 Get In Touch
            .col-xs-120.col-sm-30
                a(href='/recommendations')
                    img.img-responsive(src='/assets/images/stock-photo-16247777--teenage-girls-with-car-in-parking-lot.jpg')
                    h2 Recommendations
            .col-xs-120.col-sm-30
                a(href='/area')
                    img.img-responsive(src='/assets/images/stock-photo-14328470-driving-a-car.jpg')
                    h2 Area
            .col-xs-120.col-sm-30
                a(href='/prices')
                    img.img-responsive(src='/assets/images/stock-photo-22288692-driving.jpg')
                    h2 Prices
