.logobar
    .container
        .row
            .col-xs-40
                #logo
                    a(href="/")
                        svg.top
                            use.svg-fill.svg-transition(xlink:href='#svg-logo-top')
                        svg.bottom
                            use.svg-fill.svg-transition(xlink:href='#svg-logo-bottom')
            .col-xs-80.visible-sm.visible-xs
                #menu
                    span.top-burger
                    span.middle-burger
                    span.close-burger
                    span.bottom-burger
            .col-xs-120.col-md-80.hidden-xs.hidden-sm
                p.text-right Experienced, friendly and patient tuition from your local professional driving instructor.
                ul.list-inline.main-nav.text-right
                    li
                        a(href="/contact") Contact
                    li
                        a(href="/recommendations") Recommendations
                    li
                        a(href="/area") Area
                    li
                        a(href="/prices") Prices
                    li
                        span Call: 01529 488 880
                    li
                        a(href='http://www.facebook.com/elle-driving-school-1891805321045970/reviews#')
                            svg
                                use.svg-fill.svg-transition(xlink:href='#svg-facebook')
.hidden-menu
    .container
        .row
            .col-xs-120
                ul.list-inline.main-nav.text-right
                    li
                        a(href="/contact") Contact
                    li
                        a(href="/recommendations") Recommendations
                    li
                        a(href="/area") Area
                    li
                        a(href="/prices") Prices
                    li
                        span Call: 01529 488 880
                        a(href='http://www.facebook.com/elle-driving-school-1891805321045970/reviews#')
                            svg
                                use.svg-fill.svg-transition(xlink:href='#svg-facebook')




