#navigation.menubar
    .container
        .row
            .col-xs-120


                ul.list-inline.main-nav
                    li.dropdown
                        a(href="/experience") The Experience
                        ul.dropdown-menu
                            li
                                a(href="/experience") Overview
                            li
                                a(href="/") The Visitor Experience
                            li
                                a(href="/") Inclusivity
                            li
                                a(href="/") Workshop / Performances
                    li.dropdown
                        a(href="/") Luminaria on Tour
                        ul.dropdown-menu
                            li
                                a(href="/") Luminaria On Tour
                            li
                                a(href="/") Gallery
                            li
                                a(href="/") About AoA
                            li
                                a(href="/") Contact
                    li
                        a(href="/") Media
                    li
                        a(href="/") Gallery
                    li
                        a(href="/") About AoA
                    li
                        a(href="/") Contact