

#navigation

    #nav-logo
        a(href="/")
            svg
                use.svg-fill.svg-transition(xlink:href='#svg-logo-solid')

    #main-nav.show

        ul.list-unstyled.text-center
            li
                a(href="/") Home
            li
                a(href="/the-band.html") The Band
            li
                a(href="/the-music.html") The Music
            li
                a(href="/live.html") Live
            li
                a(href="/gallery.html") Gallery
            //li
                a(href="/terry-hall.html") Terry Hall
            //li
                a(href="/social.html") Social

        ul.socials.list-inline.text-center.hidden-sm.hidden-md.hidden-lg
            include /partials/social-icon-list

